body {
    font-family: 'Montserrat', sans-serif;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #e6e6e6;
}

.custom-image-size {
    width: 100%;
    height: auto;
}

.custom-card-image {
    object-fit: cover;
    height: 380px;
    width: 100%;
}

.container-categorias {
    margin-top: 20px;
}

.categorias-sidebar {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
}

.categorias-sidebar h5 {
    color: #495057;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-categoria {
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

#product-container {
    margin-top: 20px;
}

.col-md-3 {
    margin-top: 40px;
}